<% if comment_favorites.exists? %>
  <% comment_favorites.each.with_index(1) do |comment_favorite, index| %>
  <table class="table is-hoverable" id="<%= index %>_id" draggable="true">
    <thead>
      <tr>
        <th>No.</th>
        <th>ユーザー</th>
        <th style="width: 600px;">マイアクションプラン</th>
        <th style="width: 56px;" class="text-center"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= "#{index}" %></td>
        <td>
          <%= link_to user_path(comment_favorite.comment.user_id) do %>
            <figure class="image is-64x64"><%= attachment_image_tag comment_favorite.comment.user, :profile_image, size: "64x64", format: 'jpeg', fallback: "logo.png" %></figure>
          <% end %>
          <div class="has-text-centered"><%= comment_favorite.comment.user.name %></div>
        </td>
        <td style="width: 600px;" class="is-size-5"><%= comment_favorite.comment.content %></td>
        <td class="has-text-centered is-vcentered">
          <div id="myfavorite_delete_btn_<%= comment_favorite.id %>">
            <%= link_to '削除', tweet_comment_index_destroy_path(tweet_id: comment_favorite.comment.tweet.id, comment_id: comment_favorite.comment.id, id: comment_favorite.id), method: :delete, local: true, class: "button is-danger is-light is-small" %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <% end %>
<% else %>
  <p class="text-center is-size-4">マイアクションプランはありません</p>
<% end %>
<script>
 document.querySelectorAll('.table').forEach (elm => {
 	elm.ondragstart = function () {
 		event.dataTransfer.setData('text/plain', event.target.id);
 	};
 	elm.ondragover = function () {
 		event.preventDefault();
 		this.style.borderTop = '4px solid blue';
 	};
 	elm.ondragleave = function () {
 		this.style.borderTop = '';
 	};
 	elm.ondrop = function () {
 		event.preventDefault();
 		let id = event.dataTransfer.getData('text/plain');
 		let elm_drag = document.getElementById(id);
 		this.parentNode.insertBefore(elm_drag, this);
 		this.style.borderTop = '';
 	};
 });
</script>