<section class="section">
<div class="container">
	<div class="columns is-centered">
	  <div class="column is-6">

    <div class="center-block">
     <div class="box mx-auto">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
               <%= attachment_image_tag @tweet.user, :profile_image, size: "64x64", format: 'jpeg', fallback: "logo.png" %>
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <strong><%= @tweet.user.name %></strong>
              <%= l @tweet.created_at %>
              【<%= @tweet.category.name %>】<br>
              <small><%= @tweet.user.username %></small><br>
              <p><%= @tweet.tweet %></p>
              <p><%= attachment_image_tag @tweet, :image, size: "100x100", format: 'jpeg' %></p>
            </div>

              <!--ツイート下部-->
              <div class="level-left is-mobile">
                <%= link_to @tweet, class: "level-item text-decoration-none" do %>
                  <span class="icon"><i class="far fa-comment" aria-hidden="true"></i><%= @tweet.comments.count %></span>
                <% end %>
                <%= link_to @tweet, class: "level-item" do %>
                  <%= render 'tweets/favorite', tweet: @tweet %>
                <% end %>
              <% if user_signed_in? && current_user.id == @tweet.user_id %>
                <%= link_to edit_tweet_path(@tweet), class: "level-item ml-5 text-decoration-none" do %>
                  <span class="icon"><i class="fas fa-pencil-alt" aria-hidden="true"></i></span>
                <% end %>
                <%= link_to @tweet, method: :delete, data: { confirm: "Are you sure you want to delete this tweet?"}, class: "ml-3" do %>
                  <span class="icon"><i class="far fa-trash-alt" aria-hidden="true"></i></span>
                <% end %>
              <% end %>
              </div>

          </div>
        </article>
      </div>

      <!--コメント投稿-->
      <div class="box media">
        <div class="media-left">
          <figure class="image is-64x64">
            <%= attachment_image_tag @tweet.user, :profile_image, size: "64x64", format: 'jpeg', fallback: "logo.png" %>
          </figure>
        </div>
        <div class="media-content">
          <%= simple_form_for([@tweet, @comment]) do |f| %>
            <%= f.error_notification %>
            <div class="field">
              <div class="control">
                 <%= f.input :content, label: "アクションプランをコメントする✒️", input_html: { class: "textarea "}, wrapper: false, label_html: {class: "label"}, placeholder: "こんな行動をすると良いと思います", autofocus: true %><br>
              </div>
            </div>
            <%= f.button :button, class: "button is-info" do %>コメントする<% end %>
          <% end %>
        </div>
      </div>
      <!---->

      <!--コメント一覧-->
      <p>コメント件数：<%= @tweet.comments.count %></p>

      <% @tweet.comments.each do |tweet| %>
      <div class="box">
        <article class="media">
          <%= link_to user_path(tweet.user_id) do %>
          <div class="media-left">
              <figure class="image is-64x64"><%= attachment_image_tag tweet.user, :profile_image, size: "64x64", format: 'jpeg', fallback: "logo.png" %></figure>
          </div>
          <% end %>
          <div class="media-content">
              <%= tweet.user.name %>
              <%= tweet.user.username %>
              <%= l tweet.created_at %><br>
              <%= tweet.content %>
          <% if tweet.user == current_user %>
            <div class="btn">
              <%= link_to "削除", tweet_comment_path(@tweet, tweet), method: :delete, class: "btn btn-danger btn-sm" %>
            </div>
          <% end %>
          </div>
        </article>
      </div>
      <% end %>
      <!---->

      <%= link_to 'Back', tweets_path %>

    </div>
  </div>
</div>
</section>