<% visiter = notification.visiter %>
<% visited = notification.visited %>
<% tweet = notification.tweet %>
<% comment = notification.comment %>

<div class="box">
  <article class="media">
    <div class="media-center mr-3">
      <%= link_to user_path(visiter) do %>
        <figure class="image is-64x64">
    			<%= attachment_image_tag visiter, :profile_image, size: "64x64", format: 'jpeg', fallback: "logo.png" %>
    		</figure>
      <% end %>
    </div>
    <div class="media-content">
      <div class="content">
        <%= visiter.name %><%= 'さんが' %>
          <% case notification.action %>
            <% when 'follow' then %>
              <%= "あなたをフォローしました" %>
              <p></p>
            <% when 'favorite' then %>
              <%= link_to 'あなたの投稿', notification.tweet, style: "font-weight: bold;" %>
              <%= "にいいねしました" %>
              <p></p>
            <% when 'comment_favorite' then %>
              <%= link_to 'あなたのコメント', notification.comment.tweet, style: "font-weight: bold;" %>
              <%= "をマイアクションに登録しました" %>
              <p class="mt-2">
                <%= Comment.find_by(id: notification.comment_id)&.content %>
              </p>
              <p></p>
            <% when 'comment' then %>
              <%= link_to "あなたの投稿", notification.tweet, style: "font-weight: bold;" %>
              <%= "にコメントしました" %>
              <p class="mt-2">
                <%= Comment.find_by(id: notification.comment_id)&.content %>
              </p>
          <% end %>
        <small class="text-muted">
          <%= time_ago_in_words(notification.created_at).upcase %>
        </small>
      </div>
    </div>
  </article>
</div>