<section class="section">
	<div class="container">
		<div class="columns is-centered">
		  <div class="column is-6">
				<nav class="panel">
					<p class="panel-heading">プロフィール</p>
					<div class="panel-block">
						<article class="media">
							<div class="media-left">
								<%= link_to user_path(@user.id) do %>
									<figure class="image is-64x64">
										<%= attachment_image_tag @user, :profile_image, size: "64x64", format: 'jpeg', fallback: "logo.png" %>
									</figure>
								<% end %>
							</div>
							<div class="media-content">
								<div class="content">
									<p>
										<strong><%= @user.name %></strong>
										<% if @user.following?(current_user) %>
											&nbsp;<small class="badge badge-secondary">フォローされています</small>
										<% end %>
										<br>
										<small><%= @user.username %></small>
										<div><%= @user.profile %></div>
									</p>
								</div>
							</div>
						</article>
					</div>
					<div class="panel-block">
						<div class="level is-mobile mb-0">
							<div class="level-item has-centered-text">
								<div>
									<p class="heading">ツイート</p>
									<p class="title is-6"><%= @user.tweets.count %></p>
								</div>
							</div>
							<div id="follow_buttons_<%= @user.id %>">
					      <%= render 'follows/follow', user: @user %>
					    </div>
						</div>
					<% if user_signed_in? && current_user.id == @user.id %>
						<%= link_to edit_user_registration_path, class: "button text-decoration-none ml-auto" do %>
	            <i class="fas fa-user-edit"></i>&nbsp;プロフィール編集
	          <% end %>
          <% end %>
					</div>
				</nav>
				<%= render 'tweets/index', tweets: @tweets, tweet: @tweet %>
				<%= link_to 'Back', 'javascript:history.back()', class: "button is-warning is-light" %>
		  </div>
	  </div>
	</div>
</section>