<div class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-half-desktop is-full-tablet">
        <h3 class="is-size-2 mb-4">お問合せフォーム</h3>
        <%= form_with model: @contact, url: contact_path do |f| %>
        <div class="form-group mb-4">
          <div class="f-size"><%= f.label :お名前 %></div>
          <%= f.text_field :name, class: "form-control input" %><br>
        </div>
        <div class="form-group contact-form">
          <div class="f-size"><%= f.label :お問い合わせ内容 %></div>
          <%= f.text_area :message, class: "form-control input form-height" %><br>
          <%= f.submit '送信', class: "button is-info mb-4 mt-4" %><br>
          <div data-turbolinks="false"><%= link_to 'Back', root_path, class: "button is-warning is-light" %></div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>