<!DOCTYPE html>
<html>
  <head>
    <title>Wisdom</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/reset.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css">
    <link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/9-4-1/css/9-4-1.css">
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.png') %>
  </head>

  <body>

    <nav class="navbar">
      <div class="navbar-brand">
        <% if user_signed_in? %>
          <%= link_to tweets_path, class: "navbar-item text-decoration-none" do %>
            <h1 class="title is-5"><img src="/assets/logo.png" alt="Wisdom"> Wisdom</h1>
          <% end %>
        <% else %>
          <%= link_to root_path, class: "navbar-item text-decoration-none" do %>
            <h1 class="title is-5"><img src="/assets/logo.png" alt="Wisdom"> Wisdom</h1>
          <% end %>
        <% end %>
        <div class="navbar-burger burger" data-target="navbarExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbarExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <% if user_signed_in? %>
                <p class="control">
                  <%= link_to tweets_path, class: "button text-decoration-none" do %>
                    <i class="fas fa-hand-holding-heart"></i>&nbsp;新しい知識を提供する
                  <% end %>
                </p>
                <p class="control">
                  <%= link_to confirm_tweets_path, class: "button text-decoration-none" do %>
                    <i class="fas fa-archive"></i>&nbsp;下書き一覧
                  <% end %>
                </p>
                <p class="control">
                  <%= link_to users_path, class: "button text-decoration-none" do %>
                    <i class="fas fa-users"></i>&nbsp;ユーザー一覧
                  <% end %>
                </p>
                <p class="control">
                  <%= link_to notifications_path, class: "button text-decoration-none" do %>
                  <% if unchecked_notifications.any? %>
                    <i class="fa fa-circle" style="color: gold;"></i>
                  <% end %>
                    <i class="fas fa-bell"></i>&nbsp;通知一覧
                  <% end %>
                </p>
                <p class="control">
                  <%= link_to edit_user_registration_path, class: "button text-decoration-none" do %>
                    <i class="fas fa-user-edit"></i>&nbsp;マイページ編集
                  <% end %>
                </p>
                <p class="control">
                  <%= link_to destroy_user_session_path, method: :delete, class: "button text-decoration-none" do %>
                    <i class="fas fa-sign-out-alt"></i>&nbsp;ログアウト
                  <% end %>
                </p>
              <% else %>
              <p class="control">
                <%= link_to new_user_session_path, class: "button text-decoration-none" do %>
                  <i class="fas fa-sign-in-alt"></i>&nbsp;ログイン
                <% end %>
              </p>
              <p class="control">
                <%= link_to new_user_registration_path, class: "button text-decoration-none" do %>
                  <i class="fas fa-user-plus"></i>&nbsp;新規登録
                <% end %>
              </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="d">
      <% if flash[:notice] %>
        <div class="notification is-primary global-notification">
          <p class="notice mt-5"><%= notice %></p>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="notification is-danger global-notification">
          <p class="alert mt-"><%= alert %></p>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
